<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Notícias</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding (ionScroll)="scroll()" >
  <ion-card (click)="abrirNoticia(noticia)" *ngFor="let noticia of noticias" >
    <img [src]="noticia.urlImagem"/>
    <ion-card-content>
      <ion-card-title>
          {{noticia.titulo}}
        </ion-card-title>
      <p style="text-align: justify;">
          {{noticias.subtitulo}}
      </p>
    </ion-card-content>
  </ion-card>
  <ion-grid *ngIf="carregando">
    <ion-row>
      <ion-col></ion-col>
      <ion-col></ion-col>
      <ion-col><ion-spinner></ion-spinner></ion-col>
      <ion-col></ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
